# Configurações do Servidor
PORT=3000

# Configurações da API Key do sistema
API_KEY=sua_chave_api_secreta_do_sistema

# Configurações da API WhatsApp (HiveWP)
WHATSAPP_API_URL=https://dify-hiveapi.ld9tly.easypanel.host
WHATSAPP_API_KEY=47ec728124b69c04843556078d9033c41ace727c653a6d0072951420d4cdfc17

# Configurações do Banco de Dados PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=conexbot
DB_USER=seu_usuario_db
DB_PASSWORD=sua_senha_db

# Configurações JWT
JWT_SECRET=sua_chave_jwt_secreta

# Configurações WhatsApp padrão
WHATSAPP_IGNORE_GROUPS=true 